/* CSS Reset below  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero {
  background-color: #1f2937;
  padding: 0 20vh 0 20vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  padding-top: 10px;
}

.logo {
  display: flex;
  color: black;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.hero-section {
  display: flex;
  flex-direction: row;
  color: white;
  padding-bottom: 10vh;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  margin-bottom: 10px;
}
.hero-text {
  margin-bottom: 10px;
}

.h-text {
  flex-direction: column;
  font-size: 48px;
  margin-bottom: 10px;
}

button {
  max-width: 100px;
}

.here-img {
  display: flex;
  flex-direction: row;
}
/*Information section  */

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin: 20px 140px 80px 140px;
}
.info-header {
  display: flex;
  justify-content: center;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 50px;
}

.info-box {
  border-radius: 25px;
  border: 2px solid rgb(88, 88, 243);
  padding: 20px;
  width: 150px;
  height: 150px;
}

.info-box-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textsec {
  display: flex;
  padding-top: 10px;
}

.box-text {
  display: flex;
  justify-content: space-around;
}

/* Quote section  */
.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  height: 300px;
  padding: 20px 140px 20px 140px;
}

.reit-quote {
  display: flex;
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
}

.quote-r {
  display: flex;
  align-self: flex-end;
  color: #1f2937;
  font-weight: bolder;
  font-size: 18px;
}
