/* CSS Reset below  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* imported code form google fonts */

@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
}

.hero {
  background-color: #1f2937;
  padding: 0 20vh 0 20vh;
  font-family: "Bona Nova", serif;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  padding-top: 10px;
  font-family: "Bona Nova", serif;
}

.logo {
  display: flex;
  color: #f9faf8;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: white;
}

.hero-section {
  display: flex;
  flex-direction: row;
  padding-bottom: 10vh;
  font-family: "Bona Nova", serif;
  font-style: normal;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  margin-bottom: 10px;
  color: #f9faf8;
  font-family: "Bona Nova", serif;
}
.hero-text {
  margin-bottom: 10px;
  font-family: "Bona Nova", serif;
}

.h-text {
  flex-direction: column;
  font-size: 48px;
  color: #f9faf8;
  margin-bottom: 10px;
  font-family: "Bona Nova", serif;
  font-weight: 900;
  font-style: normal;
}

.hero-button {
  max-width: 100px;
  border-radius: 5px;
  background-color: #3882f6;
  border: #e5e7eb;
  color: #e5e7eb;
}

.here-img {
  display: flex;
  flex-direction: row;
}
/*Information section  */

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin: 20px 140px 80px 140px;
  font-family: "Bona Nova", serif;
}
.info-header {
  display: flex;
  justify-content: center;
  color: #1f2937;
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Bona Nova", serif;
  font-weight: 900;
}

.info-box {
  border-radius: 25px;
  border: 2px solid rgb(88, 88, 243);
  padding: 20px;
  width: 150px;
  height: 150px;
}

.info-box-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textsec {
  display: flex;
  padding-top: 10px;
}

.box-text {
  display: flex;
  justify-content: space-around;
}

/* Quote section  */
.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  height: 300px;
  padding: 20px 140px 20px 140px;
}

.reit-quote {
  display: flex;
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
  font-family: "Bona Nova", serif;
}

.quote-r {
  display: flex;
  align-self: flex-end;
  color: #1f2937;
  font-weight: bolder;
  font-size: 18px;
  font-family: "Bona Nova", serif;
}
/*  Call To Action Section */
.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 300px;
}

.call-box {
  width: 1000px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  /* border: blue dotted; */
  background-color: #3882f6;
}

.cta-box-info {
  display: flex;
  flex-direction: column;
  margin: 0, 100px 0, 100px;
}

.cta-header {
  display: flex;
  font-size: 28px;
  color: white;
  padding-bottom: 10px;
}

.cta-text {
  display: flex;
  color: #e5e7eb;
}

.cta-btn {
  border: solid white 1px;
  background: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 200px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}
/* end of cta */
.footer {
  background-color: #1f2937;
  height: 75px;
  display: flex;
  justify-content: center;
}

.ftr-text {
  display: flex;
  align-items: center;
  color: #e5e7eb;
}
